@model BookStore.Models.ViewModels.BookViewModel
@{
    ViewData["Title"] = "Добавление новой книги";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h1>Добавление новой книги</h1>
    </div>
    <div class="card-body">
        <form asp-controller="AdminBook" asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Название</label>
                <input type="text" class="form-control" asp-for="Title">
            </div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Автор</label>
                <select asp-for="AuthorId" asp-items="@Model.Authors">
                    <option value="0">Выберите автора</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label">Цена</label>
                <input type="number" class="form-control" asp-for="Price">
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Описание</label>
                <textarea type="text" class="form-control" asp-for="Description" > </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>

